html
  head
    title
      | AS-char
    link(rel="stylesheet", type="text/css", href="style.css")

  body
    .map-container
      #map

    .result
      h1 Wynik analizy:

      h2 Zasób:&nbsp;
        span= AS.resource

      .box
        if AS.stats.avg
          table.stats Statystyki:
            tr
              td Średnia:
              td= AS.stats.avg
                |  ms
            tr
              td Odchylenie standardowe:
              td= AS.stats.stddev
                |  ms
            tr
              td Mediana:
              td= AS.stats.med
                |  ms
            tr
              td Odległość:
              td(id=AS.resource)

      .prefixes
        h4.box Sieci:
        each prefix in prefixes
          .prefix
            h3= prefix.prefix
            .box
              if prefix.stats.avg
                table.stats Statystyki:
                  tr
                    td Średnia:
                    td= prefix.stats.avg
                      |  ms
                  tr
                    td Odchylenie standardowe:
                    td= prefix.stats.stddev
                      |  ms
                  tr
                    td Mediana:
                    td= prefix.stats.med
                      |  ms

              .hosts
                h4 Hosty:
                each host in prefix.hosts
                  .host
                    h5= host.host
                    if host.stats.avg
                      table.stats Statystyki:
                        tr
                          td Średnia:
                          td= host.stats.avg
                            |  ms
                        tr
                          td Odchylenie standardowe:
                          td= host.stats.stddev
                            |  ms
                        tr
                          td Mediana:
                          td= host.stats.med
                            |  ms
                        tr
                          td Odległość:
                          td(id=host.host)

script
  | var AS = {
  |   resource: '!{AS.resource}',
  |   locations: new Array()
  | };
  each location in locations
    | AS.locations.push({
    |   lat: !{location.lat},
    |   lng: !{location.lng}
    | });

  | var prefixes = new Array();
  | let prefix = {};
  | let host = {};

  each prefix in prefixes
    | prefix = {
    |   prefix: '!{prefix.prefix}',
    |   hosts: new Array()
    | };

    each host in prefix.hosts
      | host = {
      |   host: '!{host.host}',
      |   locations: new Array()
      | };

      each location in host.locations
        | host.locations.push({
        |   lat: !{location.lat},
        |   lng: !{location.lng}
        | });

      | prefix.hosts.push(host);

    | prefixes.push(prefix);

script(src="/result.js")
script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0hSN1QhrjZ4Qzdu1YH3E_RvBINVCrt_A&callback=initMap", async, defer)
